body{          
    background-image: radial-gradient(circle at center, #a8a19f 3px, transparent 0), url("../images/home/modern-scandinavian-home-interior.png");
    /* width: 1245px; */
    background-size: 1em 1em, 100vw 100vh;
    background-repeat: repeat, no-repeat;
    background-position: 0 0, 0 0;
}

nav{
    position: fixed;
    top: 9em;
    left: 1.9em;
    width: 10em;  
    height: 22em;
}

nav li{
    text-align: left;
    padding-left: 1em;
    padding-bottom: .55em;
}

.fa-facebook-square{
    margin-left: 50px;
    margin-top: 25px;
    color: #3B579D;
}

.fa-twitter-square{
    color: #58CCFF;
}

.fa-pinterest-square{
    color: #D51620;
}

.fa-youtube-square{
    color: #f00;
    margin-left: 50px;

}

.fa-google-plus-square{
    color: #DD4B39;
}

.fa-instagram-square{
    color: #A2785A;
}

nav>ul>li:first-child{
    padding-top: 40px;
}

nav>ul>li:last-child{
    padding-bottom: 11.9em;
}

#logo{
    position: absolute;
    left: 1.9em;
    top: 3em;
    height: 83px;
    width: 160px;
    background-color: #555;
}

#art-you-live-in{
    background-image: url("../images/home/we-make-art-you-live-in.png");
    position: absolute;
    left: 14em;
    top: 3em;
    height: 121px;
    width: 990px;
}

#social-media{
    background-color: #DFDCDA;
    position: absolute;
    bottom: 3.5em;
    left: 1.9em;
    height: 102px;
    width: 160px;
}

#discover-more{
    background-image: url("../images/home/discover-more.png");
    position: absolute;
    bottom: 6em;
    left: 39em;
    height: 15px;
    width: 207px;
}

#down-red-arrow{
    background-image: url("../images/home/down-red-arrow.png");
    position: absolute;
    bottom: 3.5em;
    left: 44em;
    height: 26px;
    width: 53px;
}

#logo img{
    margin-left: 14px;
    margin-top: 5px;
}

#social-media a{
    margin-right: 0.1em;
    font-size: 1.5em;
}

/* МЕНЮ */
#services{
    position: relative;
}

#services:hover ul{
    display: block;
}

#services ul{
    position: absolute;
    left: 10em;
    top: 0;
}

#services li{
    font-size: 1em;
}

.index-box{
    padding: 0;
}

#consulting{
    top: 0em;
}

#furnishing{
    top: 2em;
}

#procurement{
    top: 4em;
}

#interior-detailing{
    top: 6em;
}



