#productsLists>ul>li{
    width: 15em;
}

#productsLists{
    position: fixed;
    top: 9em;
    left: 1.9em;
    width: 11em;  
    height: 22em;
}

#productsLists li{
    text-align: left;
    padding-left: 1em;
}

#livingRoom{
    padding-top: 2em;
    position: relative;
}

#diningRoom{
    padding-top: .5em;
    position: relative;
}

#bedroom{
    padding-top: .5em;
    position: relative;
}

#office{
    padding-top: .5em;
    position: relative;
}

#livingRoom:hover ul, #diningRoom:hover ul, #bedroom:hover ul, #office:hover ul{
    display: block;
}

#livingRoom ul, #diningRoom ul, #bedroom ul, #office ul{
    position: absolute;
    left: 8.5em;
    top: 0;
}

#productsLists>ul>li>ul>li:hover{
    background-color: #D5454B;
    color: #512727;
}
