section{
    position: absolute;
    left: 38em;
    height: 6em;
    width: 35%;
    border: 1px inset #CB171E;
    /* text-align: center; */
    font-size: 0.9em;
    font-family: LRT Oksana, sans-serif;
    background-color: #DEDEDE;
}

/* .left{
    text-align: left;
}

.right{
    text-align: right;
} */

h2{
    text-align: center;
    margin-top: .2em;
}

section>img{
    height: 70%;
    width: 40%;
    padding: 1em 1em 0em 1em;
}

section>p{
    padding: 0em 1em 1em;
}

section img{
    height: 60px;
    width: 90px;
}

.section-1{
    top: 3em;
}

.section-2{
    top: 9em;
}

.section-3{
    top: 15em;
}

.section-4{
    top: 21em;
}

.section-5{
    top: 27em;
}

.left>img{
    float: left;
}

.right>img{
    float: right;
}

section:hover{
    opacity: 0.8;
}


